<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_xsrf" content="{{.xsrf_token}}" />
    <title>Document</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/wangEditor.min.css">
    <style>
    .toolbar {
            border: 1px solid #ccc;
        }
    .text {
            border: 1px solid #ccc;
            height: 600px;
        }
    
    </style>
</head>
<body>
<div class="row" style="padding-top: 0px;">
        <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control article_title" placeholder="输入文章标题" aria-describedby="basic-addon2" value="{{.Article.ArticleName}}">
                </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div id="div1" class="toolbar">
    </div>
    <div id="editor" class="text">
        {{str2html .Article.ArticleContent.Content}}
        <!-- 文章内容区域 -->
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">分类</label>
        </div>
        <select class="custom-select article_type" id="inputGroupSelect01">
            <option selected >选择分类</option>
            {{$article := .Article}}
            {{range $index, $item := .typelist}}
                {{if eq $article.ArticleType.Id $item.Id}}
                    <option value="{{$item.Id}}" selected>{{$item.TypeName}}</option>
                {{else}}
                    <option value="{{$item.Id}}">{{$item.TypeName}}</option>
                {{end}}
            {{end}}
        </select>
      </div>      
    <button type="button" class="btn btn-primary submit_btn" article-id="{{.Article.Id}}">提交</button> 
    <br>
    <br>
    <!-- <script src="/static/jquery.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/wangEditor.min.js"></script>
    <script>
        $(function(){
            var ajax = $.ajax;
            $.extend({
                ajax: function(url, options) {
                    if (typeof url === 'object') {
                        options = url;
                        url = undefined;
                    }
                    options = options || {};
                    url = options.url;
                    var xsrftoken = $('meta[name=_xsrf]').attr('content');
                    var headers = options.headers || {};
                    var domain = document.domain.replace(/\./ig, '\\.');
                    if (!/^(http:|https:).*/.test(url) || eval('/^(http:|https:)\\/\\/(.+\\.)*' + domain + '.*/').test(url)) {
                        headers = $.extend(headers, {'X-Xsrftoken':xsrftoken});
                    }
                    options.headers = headers;
                    return ajax(url, options);
                }
            });
            var E = window.wangEditor
            var editor = new E('#div1', '#editor')
            // 或者 var editor = new E( document.getElementById('editor') )
            editor.customConfig.menus = [
                'head',  // 标题
                'bold',  // 粗体
                'fontSize',  // 字号
                'fontName',  // 字体
                'italic',  // 斜体
                'image',
                'code',
            ]
            editor.customConfig.uploadImgShowBase64 = true
            editor.create()
            $('.submit_btn').click(function(){
                var article_title = $('.article_title').val().trim();
                var article_type = $('.article_type').val();
                var article_content = editor.txt.html();
                var post_data = {
                    "ArticleName": article_title,
                    "ArticleType": Number(article_type),
                    "ArticleContent": article_content,
                }
                var article_id = $(this).attr('article-id')
                if(article_id){
                    post_data['Id'] = Number(article_id)
                }
                if(article_title && article_content){
                    $.ajax({
                        url: '{{if .posturl}}{{.posturl}}{{else}}{{end}}',
                        data: JSON.stringify(post_data),
                        success: function(value){
                            value = JSON.parse(value)
                            if(value["Status"]){
                                location.href = '/'
                            }else{
                                console.log(value["Status"])
                                alert(value["Message"])
                            }
                            
                        },
                        type: "POST",
                        dataType: "json",
                        headers: {'Content-Type': 'application/json'},
                    })
                }else{
                    alert('标题或内容为空')
                }
                
            })
        })
        
    </script>   
</body>
</html>